<section class ="new-training" fxLayout  fxLayoutAlign="center">
<mat-card fxFlex ="400px" >
    <mat-card-title fxFlexAlign="center"> Titre du training</mat-card-title>
    <mat-card-content fxFlexAlign="center">Simple card</mat-card-content>
    <mat-card-actions fxFlexAlign="center"><button type="submit" mat-button (click)="open()"> New Button</button></mat-card-actions>
  </mat-card>

  <mat-card fxFlex ="400px" >
    <mat-card-title fxFlexAlign="center"> Titre du training</mat-card-title>
    <mat-card-content fxFlexAlign="center">Simple card</mat-card-content>
    <mat-card-actions fxFlexAlign="center"><button type="submit" mat-button (click)="open()"> New Button</button></mat-card-actions>
  </mat-card>
</section>